@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Arimo";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: "Arimo"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
  color: #9A5C3B; }

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    display: none; }

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 35px;
  z-index: 50; }
  .header__row {
    display: -webkit-box;
    display: -mos-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 80px; }
  .header__title {
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 100px;
    top: -10px;
    color: #9A5C3B;
    left: 50%;
    transform: translate3d(-55%, 0px, 0px);
    -webkit-transform: translate3d(-55%, 0px, 0px);
    -ms-transform: translate3d(-55%, 0px, 0px);
    -o-transform: translate3d(-55%, 0px, 0px);
    -moz-transform: translate3d(-55%, 0px, 0px); }
  @media (max-width: 767px) {
    .header {
      top: 15px; } }

.title__item:nth-child(1) {
  font-size: 25px; }

.title__item:nth-child(2) {
  font-size: 45px; }
  @media (max-width: 767px) {
    .title__item:nth-child(2) {
      font-size: 30px; } }

.title__item:nth-child(3) {
  font-size: 25px; }

.menu__list {
  display: -webkit-box;
  display: -mos-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  .menu__list li {
    position: relative;
    padding: 0px 20px; }
    .menu__list li:nth-child(2) {
      padding: 0px 120px 0px 20px; }
      .menu__list li:nth-child(2):after {
        display: none; }
    .menu__list li:nth-child(3) {
      padding: 0px 20px 0px 120px; }
    .menu__list li:after {
      content: '';
      width: 2px;
      height: 2px;
      background-color: #9A5C3B;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 50%; }
    .menu__list li:last-child:after {
      display: none; }

.menu__link {
  color: #9A5C3B;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px; }

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 140px 0px 0px 0px;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .menu__body.active {
      transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px); }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu__list li {
      padding: 0px 0px 35px 0px; }
      .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
        padding: 0px 0px 35px 0px; }
        .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
          display: block; }
      .menu__list li:last-child {
        padding: 0; }
      .menu__list li:after {
        content: '';
        width: 4px;
        height: 4px;
        background-color: #9A5C3B;
        border-radius: 50%;
        right: 50%;
        top: 35px;
        margin: 0px -2px 0px 0px; }
  .menu__link {
    font-size: 20px; } }

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 18px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5; }
    .icon-menu span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      top: 8px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #9A5C3B; }
      .icon-menu span:first-child {
        top: 0px; }
      .icon-menu span:last-child {
        top: auto;
        bottom: 0px; }
    .icon-menu.active span {
      -moz-transform: scale(0);
      transform: scale(0);
      -o-transform: scale(0);
      -webkit-transform: scale(0);
      -ms-transform: scale(0); }
      .icon-menu.active span:first-child {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .icon-menu.active span:last-child {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 8px; } }

.header__telephone {
  display: -webkit-box;
  display: -mos-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 10px;
  top: -10px; }
  @media (max-width: 767px) {
    .header__telephone {
      top: 10px; } }

.telephone__icon {
  height: 35px;
  width: 35px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 767px) {
    .telephone__icon {
      height: 50px;
      width: 50px; } }

.telephone__number a {
  color: #9A5C3B;
  font-size: 25px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  .telephone__number a:hover {
    color: #000; }
  @media (max-width: 767px) {
    .telephone__number a {
      display: none; } }

/*
	.header-menu__icon{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto; bottom: 0px;}
		}
		&.active{
			span{
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/
.footer__bottom {
  display: -webkit-box;
  display: -mos-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  position: relative;
  border-radius: 20px;
  width: 100%;
  background-color: #9A5C3B;
  padding: 20px 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5); }

.footer__social {
  font-size: 16px;
  color: #fff; }

.footer__rights {
  position: absolute;
  color: #fff;
  font-size: 14px;
  top: 50%;
  transform: translate3d(0px, -50%, 0px);
  -webkit-transform: translate3d(0px, -50%, 0px);
  -ms-transform: translate3d(0px, -50%, 0px);
  -o-transform: translate3d(0px, -50%, 0px);
  -moz-transform: translate3d(0px, -50%, 0px);
  right: 10px; }

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -mos-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative; }
  .main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.about__row {
  display: -webkit-box;
  display: -mos-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  padding: 30px 15px; }
  @media (max-width: 820px) {
    .about__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 10px 10px; } }

.about__column {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 15px; }

.about__title {
  padding: 50px 0px 50px 0px;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #23150D;
  text-transform: uppercase; }
  @media (max-width: 820px) {
    .about__title {
      padding: 0px 0px 20px 0px; } }

.about__subtitle {
  position: relative;
  text-align: center;
  font-style: italic;
  font-size: 30px;
  padding: 0px 0px 30px 0px; }
  .about__subtitle:after {
    content: '';
    width: 100px;
    height: 2px;
    position: absolute;
    background-color: #DFCABF;
    left: 50%;
    bottom: 10px;
    margin: 0px 0px 0px -50px;
    z-index: 20; }
  @media (max-width: 820px) {
    .about__subtitle {
      padding: 0px 0px 20px 0px;
      font-size: 24px; } }

.about__text {
  text-align: justify;
  font-size: 20px;
  padding: 10px 0px 50px 0px; }
  @media (max-width: 820px) {
    .about__text {
      padding: 0px 0px 0px 0px; } }

.column__about_b {
  text-align: center; }
  @media (max-width: 820px) {
    .column__about_b {
      padding: 25px; } }
  .column__about_b img {
    max-width: 100%;
    border-radius: 5%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.8);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.8); }

.works {
  padding: 30px 0px;
  background: url("../../img/main_1.jpg") 0 0/cover no-repeat; }
  .works__title {
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #23150D;
    text-transform: uppercase; }
    @media (max-width: 820px) {
      .works__title {
        padding: 0px 0px 20px 0px; } }
  .works__subtitle {
    font-size: 30px;
    text-align: center;
    padding: 15px 0px 15px 0px; }

.slider__item {
  margin: 10px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 0.5; }
  .slider__item.slick-center {
    opacity: 1; }
  .slider__item img {
    padding: 5px;
    border-radius: 20px; }

.slider__text {
  padding: 10px 0px 10px 0px;
  font-size: 16px;
  text-transform: uppercase; }

.slidersmall__item {
  margin: 10px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .slidersmall__item img {
    padding: 5px;
    border-radius: 20px; }

.slidersmall__text {
  padding: 10px 0px 10px 0px;
  font-size: 16px;
  text-transform: uppercase; }
  @media (max-width: 480px) {
    .slidersmall__text {
      max-width: 100%; } }

/* Слайдер */
.slick-slider {
  position: relative;
  padding: 15px 30px; }
  @media (max-width: 400px) {
    .slick-slider {
      padding: 15px 10px; } }

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden; }

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -mos-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 40px; }

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("../../img/icons/sl-arrow_l.svg") 0 100% no-repeat; }

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("../../img/icons/sl-arrow_r.svg") 0 100% no-repeat; }

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -mos-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0px 0px 0px; }

.slick-dots li {
  list-style: none;
  margin: 0px 10px; }

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: #CDBFB7; }

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #9A5C3B;
  border-radius: 50%; }

.prices {
  text-align: center;
  padding: 20px 0px 50px 0px; }
  .prices_title {
    padding: 20px 0px 30px 0px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #23150D;
    text-transform: uppercase; }
    @media (max-width: 820px) {
      .prices_title {
        padding: 0px 0px 20px 0px; } }
  .prices__row {
    padding: 0px 20px;
    display: -webkit-box;
    display: -mos-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .prices__column {
    display: -webkit-box;
    display: -mos-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 10px 5px;
    padding: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4); }
  .prices__subtitle {
    position: relative;
    padding: 0px 0px 30px 0px;
    text-align: center;
    font-size: 30px; }
    .prices__subtitle:after {
      content: '';
      width: 80px;
      height: 2px;
      background-color: #DFCABF;
      position: absolute;
      left: 50%;
      bottom: 0;
      margin: 0px 0px 10px -40px;
      z-index: 20; }
  .prices__item {
    display: -webkit-box;
    display: -mos-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px 15px 0px; }
  .prices__name {
    font-size: 20px;
    text-align: left; }
  .prices__price {
    margin: 0px 0px 0px 10px;
    font-weight: 700;
    font-size: 20px; }
  .prices__btn {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 50px;
    width: 150px;
    color: #A0613E;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #A0613E;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5); }
    .prices__btn span {
      position: absolute;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .prices__btn:hover {
      background-color: #A0613E;
      color: #fff; }
    .prices__btn:active {
      position: relative;
      top: 3px;
      -webkit-box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5); }
